<!DOCTYPE hibernate-configuration PUBLIC 
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>  

        <!-- Define as propriedades necessárias para criar uma conexão com o banco de dados-->
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="connection.url">jdbc:sqlserver://localhost\NICKBOOK\SQLEXPRESS:1433;databaseName=apsClima;encrypt=false;</property>  

        <property name="connection.username">sa</property>
        <property name="connection.password">aps4</property>
        <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hbm2ddl.auto">update</property> 
        <property name="hibernate.show_sql">true</property>
        <mapping class="Modelo.Clima"/>
    </session-factory>
</hibernate-configuration>


